@import "./light-theme.css";
@import "./dark-theme.css";
@import "./georgia.css";
@import "./tahoma.css";
@import "./comic-sans.css";
/*
 * Alerts
 */

 .alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.cover-card {
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}

.cover-card-block {
  opacity: 1
}

#cover-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  z-index: -1;
}

/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}


/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}


/*
  * Body
  */

.body {
  background-color: #1B1F3B"
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%; 
  background: url('../images/background2.jpg') no-repeat center center fixed;
  background-size: cover;
}

#theme {  
  padding-top: 8.5px;
  padding-left: 6px;
  cursor: pointer;
}

/* 
 *Change Autocomplete styles in Chrome
 */
 
 input:-webkit-autofill,
 input:-webkit-autofill:hover, 
 input:-webkit-autofill:focus,
 textarea:-webkit-autofill,
 textarea:-webkit-autofill:hover,
 textarea:-webkit-autofill:focus,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
   border: 1px solid rgb(206, 212, 218);
   -webkit-text-fill-color: black;
   -webkit-box-shadow: 0 0 0px 1000px rgb(255, 249, 249) inset;
   transition: background-color 5000s ease-in-out 0s;
 }