:root {
  --dark-main-bg-color: #212529;
  --dark-filter-btn-color: #F4F9F9; 
  --dark-submit-btn-color: #720fe3;
  --dark-btn-text-color: #161D6F;
}

.dark-theme .sign-up .btn, 
.dark-theme .log-in .btn{
  background-color: var(--dark-submit-btn-color);
  color: var(--btn-text-color);
  border-color: transparent;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*
* website logo
*/

.dark-theme .img-fluid{
    max-width: 100%;
    height: auto
  }

/*
* left side bar
*/

.dark-theme #left-nav{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px; 
  background-color: var(--dark-main-bg-color);
  color: white;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

/*
* top main nav bar
*/

.dark-theme #top-nav {
    background-color:var(--dark-main-bg-color);
    color: white; 
  }

.dark-theme.resources-ul a {
  text-decoration: none;
  color: #ffffff ;
}

.dark-theme .user-menu ul li a,.dark-theme
.main-menu ul li a {
  color: white;
  font-weight: 700;
}

.dark-theme .friend-inner-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-color: #2E2D38;
  color: white;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

.dark-theme .mentor-friend-inner-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-color: #436780;
  color: white;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

.dark-theme .professional-friend-inner-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-color: #6a4380;
  color: white;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

.dark-theme .question-list-item-title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 900;
  margin: 0
}

.dark-theme .emp-profile {
  padding: 2.5%;
  margin-top: 1.5%;
  margin-bottom: 3%;
  border-radius: 3.5rem;
  background: var(--dark-main-bg-color);
}
.dark-theme .profile-subheading {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.dark-theme .profile-head h5 {
  font-size: 30px;
  color: #ffffff;
}

.dark-theme .profile-head .nav-tabs,
.dark-theme .nav-link.active {
  border: none;
  border-bottom: 2px solid #91BBD3;
}

.dark-theme .nav-link {
  color: #91BBD3
}

.dark-theme #loginBox {
  border-radius: 20px;
  background-color:#2E2D38;
  color: #ffffff;
}

.dark-theme #login-message {
  font-size: calc(1.375rem + 1.5vw);
}

.dark-theme .notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 7px;
  background: #2E2D38;
  color: white;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.dark-theme .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    background-color: var(--dark-main-bg-color);
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

/*
* sort/filter buttons
*/

.dark-theme .SortFilter .btn {
  background-color: var(--dark-filter-btn-color);
  color: var(--dark-btn-text-color);
  border-color: transparent;
  box-shadow: #d4aeff;
}

/*
* Add friend/apply button
*/

.dark-theme .add-friend .btn,
.dark-theme .btn-submit  {
background-color: var(--dark-submit-btn-color);
}

/*
* success add friend button
*/

.dark-theme .success_button{
  background-color: rgb(13, 160, 13) !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid transparent!important;
}

.dark-theme #theme {
   color: rgba(255, 255, 255, 0.55);

}

.dark-theme #Apply-btn{
  background-color: #c4c8cf;
}

.dark-theme .home-btn{
  background-color: grey ;
  border: 1px solid #000000;
  color: white;
}

.dark-theme .responses-container-heading {
  color: #ffffff;
}

.dark-theme .response-author {
  color: rgb(185, 185, 255);
  font-style: italic;
}

.dark-theme #dropdown-style {
  padding: 10px;
  margin: 0;
  list-style: none;
  background-color: var(--dark-main-bg-color);
  color: white;
}

.dark-theme .mentor-profile-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #436780;
}

.dark-theme .professional-profile-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #6a4380;
}

.dark-theme .profile-head h7 {
  font-size: 15px;
  color: #91BBD3;
}

.dark-theme .profile-tab p {
  font-weight: 600;
  color: #91BBD3;
}

.dark-theme .profile-head h6 {
    font-size: 20px;
    color: #91BBD3;
}

.dark-theme .no-responses-text {
  color: #ffffff;
}

.dark-theme .delete-response-button {
  background-color: rgb(205, 205, 233);
  color: black;
  border-color: transparent;
  box-shadow: #afaeff;
  border-radius: 0.25rem;
}

.dark-theme .delete-btn {
  border: 1px solid #9da1d3;
  background-color: rgb(205, 205, 233);
  color: black;
  box-shadow: #e4d0fc;
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.dark-theme .delete-btn:hover {
  background-color: #9da1d3; 
  color: white; 
}

.dark-theme .apply-btn{
  color: #fff;
  background-color: #6c757d;
}

.dark-theme .selected-feed {
  background-color: rgb(194, 192, 195);
  border-radius: 5px;
  color: #000000;
}

.dark-theme .post-header h4 {
  color: #91BBD3;
}

.dark-theme .post-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-color: #2E2D38;
  color: white;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
  align-content: center;
  margin: 10px;
}

.dark-theme .actions-icon,
.dark-theme .delete-icon {
  color: white;
}

.dark-theme .actions-icon:hover{
  color: var(--dark-submit-btn-color);
}
.dark-theme .navbar-item .button.active{
  background-color: red;
}

.dark-theme a.ps-link {
  text-decoration: none;
  color: white;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 5px;
}

.dark-theme a.ps-link:hover {
  color:black
}

.dark-theme ::-webkit-scrollbar {
  width: 10px;          
}

.dark-theme ::-webkit-scrollbar-thumb {   
  border-radius: 30px;
  background: #91BBD3;
}

.dark-theme ::-webkit-scrollbar-track {  
  border-radius:10px;
  background: black;
}

.dark-theme .page-link {
  background-color: #2E2D38;
  border: none;
  color: white;
}