#feed-container{
    width: 600px;
}

.selected-feed{
    background-color: rgb(246, 229, 252);
}

.post-card{
    background-color: rgb(139, 181, 218);
    border-radius: 10px;
    color:black;
    margin: 5px;
    padding: 5px;
}


