.m-b-50 {
    margin-bottom: 20px;
}

.heading-line {
    position: relative;
    padding-bottom: 5px;
}

.heading-line:after {
    content: "";
    height: 4px;
    width: 75px;
    background-color: #29B6F6;
    position: absolute;
    bottom: 0;
    left: 0;
}


.notification-list .notification-list_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.notification-list .notification-list_content .notification-list_img img {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    margin-right: 20px;
}

.notification-list .notification-list_content .notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
}

.subtext {
    --bs-text-opacity: 1;
    color: rgb(195, 192, 192);
}

.notification-container select {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1rem;; 
    padding: 0.175rem 0.1rem; 
}