
.light-theme .img-fluid{
  max-width: 100%;
  height: auto
  }

.light-theme #left-nav{
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  border-radius: 20px; 
  background-color: #ffffff;
  color: black;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}
.light-theme #resources-card, .light-theme #friend-card {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  border-radius: 20px; 
  background-color: #ffffff;
  color: black;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}
.light-theme #top-nav {
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
  }

.light-theme .btn {
    color: #000000;
    border-color: #000000;

}
.light-theme .navbar-dark .navbar-nav .nav-link {
    color: black !important;
}

/*
Question link
*/
.light-theme .user-menu ul li a, .light-theme
.main-menu ul li a {
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.light-theme #friend-inner-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-color: #ffffff;
  color: black;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

.light-theme .question-list-item-title {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 900;
  margin: 0
}
.light-theme .emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 5%;
  border-radius: 0.8rem;
  background: #ffffff;
}
.light-theme .profile-subheading {
  color: #000000;
  font-weight: 600;
}

.light-theme .profile-head h5 {
  font-size: 30px;
  color: #000000;
}

.light-theme .nav-tabs,
.light-theme .nav-link.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #dee2e6 #dee2e6 #fff;
}

.light-theme .nav-tabs,
.light-theme .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.light-theme .nav-tabs,
.light-theme .nav-link.active{
  border: none;
  border-bottom: 2px solid #56555e;
}


.light-theme #loginBox {
  border-radius: 20px;
  background-color:#ffffff;
  color: #000000;
}
.light-theme #login-message {
  font-size: calc(1.375rem + 1.5vw);
}
.light-theme .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: rgb(231, 231, 231);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.light-theme .notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 7px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.light-theme .card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}