:root {
  --main-bg-color: #E4FBFF;
  --filter-btn-color: #CFF3F5; 
  --submit-btn-color: #7868E6;
  --btn-text-color: #161D6F;
  --friend-inner-card-color: #CFF3F5;
}
.light-theme .img-fluid{
  max-width: 100%;
  height: auto
  }

/*
* left side bar
*/
.light-theme #left-nav{
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  border-radius: 20px; 
  background-color: var(--main-bg-color);
  color: black;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

/*
* top main nav bar
*/
.light-theme #top-nav {
    background-color:var(--main-bg-color); 
    color: rgb(0, 0, 0); 
  }

.light-theme .btn {
    color: black;
    border-color: #000000;

}
/*
* Add friend/apply button
*/
.light-theme .add-friend .btn,
.light-theme .btn-submit{
  background-color: var(--submit-btn-color);
  color: var(--btn-text-color);
  border: 1px solid #720fe3;
}
/*
* success add friend button
*/
.light-theme .success_button{
  background-color: rgb(68, 187, 68) !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid transparent!important;
}

.light-theme .sign-up .btn, 
.light-theme .log-in .btn{
  background-color: var(--submit-btn-color);
  color: var(--btn-text-color);
  border: 1px solid #720fe3;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*
* sort/filter buttons
*/
.light-theme .SortFilter .btn {
    background-color: var(--filter-btn-color);
    color: var(--btn-text-color);
    border-color: transparent;
    box-shadow: #d4aeff;
}


.light-theme .navbar-dark .navbar-nav .nav-link {
    color: black !important;
}

/*
* Question link
*/
.light-theme .user-menu ul li a, .light-theme
.main-menu ul li a {
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.light-theme .friend-inner-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-color: var(--friend-inner-card-color);
  color: black;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

.light-theme .mentor-friend-inner-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-color: #7EBABB;
  color: black;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

.light-theme .question-list-item-title {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 900;
  margin: 0
}
.light-theme .emp-profile {
  padding: 2.5%;
  margin-top: 1.5%;
  margin-bottom: 3%;
  border-radius: 3.5rem;
  background:var(--main-bg-color);
}
.light-theme .profile-subheading {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}

.light-theme .profile-head h5 {
  font-size: 30px;
  color: #000000;
}

.light-theme .nav-tabs,
.light-theme .nav-link.active {
  color: var(--main-bg-color);
  background-color: #000000;
  border-color: #dee2e6 #dee2e6 #fff;
}

.light-theme .nav-tabs,
.light-theme .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.light-theme .profile-head .nav-tabs,
.light-theme .nav-link.active{
  border: none;
  border-bottom: 2px solid #56555e;
}
.light-theme .nav-link {
  color: #4A7A7A;
}


.light-theme .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: rgb(255, 249, 249);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.light-theme .notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 7px;
  background: var(--main-bg-color);
  color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.light-theme .card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-color:var(--main-bg-color);
  color: rgb(0, 0, 0);
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

.light-theme .subtext {
  --bs-text-opacity: 1;
  color: #395362;
}

.light-theme #theme {
  color: rgba(0, 0, 0);

}
.light-theme .apply-btn{
  background-color: #720fe3;
  color: rgb(255, 255, 255);
  border-color: transparent;
}

/*
 * conversations
 */

.light-theme .conversation-btn{
  border-color: transparent;
}

.light-theme .conversation-list {
  border-radius: 8px;
  background-color: rgb(159, 215, 222);
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90%;
  list-style-type: none;
  padding-left: 0px;
}

.light-theme .tutorial .btn{
  background-color: var(--filter-btn-color);
  color: var(--btn-text-color);
  border-width: 2px;
  border-color: black;
}

.light-theme #loginBox {
  border-radius: 20px;
  background-color:var(--main-bg-color);
  color: #000000;
}

.light-theme #login-message {
  font-size: calc(1.375rem + 1.5vw);
}

.light-theme .home-btn {
    background-color: var(--submit-btn-color) ;
    border: 1px solid #720fe3;
    color: var(--btn-text-color);
}

.light-theme .responses-container-heading {
  color: #1B1F3B;
}

.light-theme .response-author {
  color: blue;
  font-style: italic;
}

.light-theme #dropdown-style {
  padding: 10px;
  margin: 0;
  list-style: none;
  background-color: var(--main-bg-color);
  color: rgb(0, 0, 0);
}

.light-theme .profile-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.light-theme .mentor-profile-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #7EBABB;
}

.light-theme .profile-head h7 {
  font-size: 15px;
  color: #4a7a7a;
}
 .light-theme .profile-tab p {
  font-weight: 600;
  color: #4a7a7a;
}

.light-theme .profile-head h6 {
    font-size: 20px;
    color: #4a7a7a;
}

.light-theme .question-list-item-author {
  color: rgb(255, 107, 132);
  margin: 0;
}

.light-theme .question-author {
  font-size: 14px;
  color: rgb(255, 107, 132);
}

.light-theme .self-bubble{
  float: right;
  background-color: rgb(169, 221, 221);
}

.light-theme .no-responses-text {
  color: #1B1F3B;
}

.light-theme .delete-response-button {
  background-color: var(--filter-btn-color);
  color: var(--btn-text-color);
  border-color: transparent;   
  border-radius: 0.25rem;
}

.light-theme .delete-btn {
  background-color: var(--filter-btn-color);
  color: black;
  border-color: transparent; 
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.light-theme .selected-feed {
  background-color: rgb(228, 171, 249);
  border-radius: 5px;
  color: purple;
}

.light-theme .post-header h4 {
  color: var(--submit-btn-color);
}

.light-theme .card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-color:var(--main-bg-color);
  color: rgb(0, 0, 0);
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

.light-theme .post-card{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-color:var(--main-bg-color);
  color: rgb(0, 0, 0);
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
  align-content: center;
  margin: 10px;
}

.light-theme .actions-icon, .light-theme .delete-icon, .actions-icon:hover {
  color: black;
}

.light-theme .actions-icon:hover {
  color: var(--dark-submit-btn-color);
}

.light-theme .delete-btn:hover {
  background-color: #d4aeff; 
  color: white; 
}
