
.scrollable-container {
    max-height: 550px;
    overflow-y: auto;
    width: 752px;
    word-wrap: break-word;
    padding-right: 15px;
}

.question-list-item {
    margin-bottom: 10px; /* Add some space between question items */
}

.question-list-item-title {
    word-break: break-word;
}

.section {
  margin-bottom: 20px;
  padding: 15px;
}
.types-of-liver-disease h2 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

blockquote {
  border-left: 6px solid lightgray;
  padding-left: 6px;
  margin-left: 15px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px;

  border-bottom: 1px solid lightgray;
}

.user-menu ul li a,
.main-menu ul li a {
  color: white;
  font-weight: 700;
}

.user-menu ul li a:hover,
.main-menu ul li a:hover {
  text-decoration: underline;
}

.user-menu ul li {
  color: white;
  display: inline;
  margin-left: 12px;
}

.page {
  display: flex;
  flex-direction: column;
}

.new-question-page,
.login-page,
.register-page {
  margin: 0 auto;
  min-width: 50%;
  max-width: 50%;
}

.title {
  margin: 20px auto 30px auto;
  font-weight: 900;
}

.question-list-item {
  margin-bottom: 20px;
}

.question-list-item a:hover {
  text-decoration: underline;
  color: black;
}

.question-list-item-title {
  color: white;
  font-size: 18px;
  font-weight: 900;
  margin: 0
}

.question-list-item-author {
  color: #91BBD3;
  margin: 0;
}

.register-form {
  width: 100%;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.fieldWrapper label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

a.username {
  color: inherit;
  text-decoration: none;
}

.fieldWrapper input {
  margin-bottom: 6px;
  border: 1px solid lightgray;
  min-height: 40px;
}
a.username {
  color: inherit;
  text-decoration: none;
}

.error {
  font-size: 14px;
  color: red;
}

.errorlist {
  margin: 0;
}

.non_form_errors {
  margin-bottom: 20px;
}

.submit-button {
  display: block;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  margin: 0 auto;
  cursor: pointer;
}

.question-title {
  font-weight: 900;
  margin: 20px auto 20px 0;
}

.question-body {
  margin-bottom: 6px;
}

.question-author {
  font-size: 14px;
  color: lightpink;
}

.responses-container {
  border-top: 1px solid lightgray;
  margin-top: 30px;
}

.responses-container-heading {
  color: #1B1F3B;
}

.no-responses-text {
  color: #1B1F3B;
}

.response-body {
  margin: 0;
}

.response-author {
  color: blue;
  font-style: italic;
}

.reply-button {
  background-color: transparent;
  border: none;
  padding: 0;
  text-transform: lowercase;
  color: green;
  cursor: pointer;
}

.response-form {
  margin-top: 20px;
  border-top: 1px solid lightgray;
  padding: 30px;
}

.reply-form-container {
  display: none;
}

.reply-form-container.enabled {
  display: block;
}

.reply-form textarea {
  width: 100%;
}

.reply-form-cancel-button {
  font-weight: 600;
  color: orange;
  background-color: transparent;
  border: none;
  padding: 4px 12px;
  cursor: pointer;
}

.reply-form-submit-button {
  font-weight: 600;
  color: white;
  background-color: orange;
  border: none;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.question-body,.question-title,.responses-container{
  width: 752px;
  word-wrap: break-word;
}