<div class="row">
    <div class="profile-subheading col-md-6">
        <label>Email</label>
    </div>
    <div class="col-md-6">
        <p>{{ user.email }}</p>
    </div>
</div>
<div class="row">
    <div class="profile-subheading col-md-6">
        <label>Date of Birth</label>
    </div>
    <div class="col-md-6">
        <p>{{ user.date_of_birth }}</p>
    </div>
</div>
<div class="row">
    <div class="profile-subheading col-md-6">
        <label>Gender</label>
    </div>
    <div class="col-md-6">
        <p>{{ user.gender_name }}</p>
    </div>
</div>
<div class="row">
    <div class="profile-subheading col-md-6">
        <label>Location</label>
    </div>
    <div class="col-md-6">
        <p>{{ user.country_name }}</p>
    </div>
</div>
<div class="row">
    <div class="profile-subheading col-md-6">
        <label>Hospital</label>
    </div>
    <div class="col-md-6">
        <p>{{ user.hospital }}</p>
    </div>
</div>
<div class="row">
    <div class="profile-subheading col-md-6">
        <label>Ethnicity</label>
    </div>
    <div class="col-md-6">
        <p>{{ user.ethnicity_name }}</p>
    </div>
</div>
<div class="row">
    <div class="profile-subheading col-md-6">
        <label>Language</label>
    </div>
    <div class="col-md-6">
        <p>{{ user.language_name }}</p>
    </div>
</div>
{% if patient or mentor %}
    <div class="row">
        <div class="profile-subheading col-md-6">
            <label>Age of diagnosis</label>
        </div>
        <div class="col-md-6">
            {% if patient %}
                <p>{{ patient.age_of_diagnosis }}</p>
            {% elif mentor %}
                <p>{{ mentor.age_of_diagnosis }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="profile-subheading col-md-6">
            <label>Condition</label>
        </div>
        <div class="col-md-6">
            {% if patient %}
                <p>{{ patient.condition }}</p>
            {% elif mentor %}
                <p>{{ mentor.condition }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="profile-subheading col-md-6">
            <label>Transplant</label>
        </div>
        <div class="col-md-6">
            {% if patient %}
                <p>{{ patient.transplant }}</p>
            {% elif mentor %}
                <p>{{ mentor.transplant }}</p>
            {% endif %}
        </div>
    </div>
{% endif %}
{% if parent %}
    <div class="row">
        <div class="profile-subheading col-md-6">
            <label>Child's age of diagnosis</label>
        </div>
        <div class="col-md-6">
            <p>{{ parent.child_age_of_diagnosis }}</p>
        </div>
    </div>
    <div class="row">
        <div class="profile-subheading col-md-6">
            <label>Child's condition</label>
        </div>
        <div class="col-md-6">
            <p>{{ parent.child_condition }}</p>
        </div>
    </div>
{% endif %}
{% if professional %}
    <div class="row">
        <div class="profile-subheading col-md-6">
            <label>Expertise</label>
        </div>
        <div class="col-md-6">
            <p>{{ professional.expertise }}</p>
        </div>
    </div>
{% endif %}