<div id="user-actions-dropdown" class="profile-icon">
    <a class="actions-icon" href="#" id="actionsDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false" aria-haspopup="true" aria-label="user-actions-dropdown">
        <span class="bi bi-three-dots-vertical"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionsDropdown"
        data-popper-placement="bottom-end">
        {% if not current_user in blocklist and not user in blocklist %}
        {% if is_friend %}
        <a class="dropdown-item" href="#" id="friend-link" data-user-id="{{user.id}}"
            data-action="remove-friend">Remove friend</a>
        {% elif request_sent %}
        <a class="dropdown-item" style="font-style: italic;" id="friend-link" data-user-id="{{user.id}}"
            data-action="inactive">Request sent</a>
        {% else %}
        <a class="dropdown-item" href="#" id="friend-link" data-user-id="{{user.id}}"
            data-action="add-friend">Add friend</a>
        {% endif%}
        <a class="dropdown-item-form" href="#" id="message-link" data-action="message">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="users" value="{{user.id}}">
                <button type="submit" class="dropdown-item" name="message">Send message</button>
            </form></a>
        {% endif %}
        {% if user in blocklist %}
        <a class="dropdown-item" href="#" id="block-link" data-user-id="{{user.id}}"
            data-action="unblock-user">Unblock this user</a>
        {% else %}
        <a class="dropdown-item" href="#" id="block-link" data-user-id="{{user.id}}"
            data-action="block-user">Block this user</a>
        {% endif %}
        <a class="dropdown-item" href="#" id="report-link" data-action="report-user">
            <form method="post">
                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' with form=report_form %}
                <input type="hidden" name="action" value="{{message.id}}">
                <button type="submit" name="report">Report</button>
            </form>
        </a>
    </div>
</div>