{% load static %}

<div class="modal fade" id="display_blocklist" tabindex="-1" aria-labelledby="display_blocklist" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="ps-subheading-text bl-header">Users you've blocked</div>

            <table class="table table-hover bl-table">

                <thead>
                    <tr>
                        <th scope="col" width="10%"></th>
                        <th scope="col" width="70%"></th>
                        <th scope="col" width="20%"></th>
                    </tr>
                </thead>

                <tbody>

                    {% for user in block_list %}

                    <tr>
                        <td><a href="{% url 'profile' user.username %}" aria-label="user-profile-hyperlink"><img src="{% static user.userprofile.profile_picture %}" class="bl-profile-picture" alt="User's profile picture">   </img></a></td>
                        <td><a href="{% url 'profile' user.username %}" aria-label="user-profile-hyperlink" class="bl-username">{{ user.username }}</a></td>
                        <td><button type="button" class="btn btn-unblock block-user-toggle-btn" data-user-id="{{user.id}}" data-action="unblock">Unblock</button></td>
                    </tr>

                    {% empty %}

                    No users to display

                    {% endfor %}

                </tbody>
        
            </table>
            
        </div>
    </div>

</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
      var unblockUserUrl = "{% url 'unblock_user' 0 %}";
      var blockUserUrl = "{% url 'block_user' 0 %}";
  </script>
  <script src="{% static 'js/display_blocklist.js' %}"></script>