<ul class="ps-list">
    <li class="ps-list-item"><a class="ps-link" href="{% url 'settings' %}"><i class="bi bi-gear ps-icons">
        </i>Personal information</a></li>
    <li class="ps-list-item"><a class="ps-link" href="{% url 'password' %}"><i class="bi bi-lock ps-icons">
        </i>Password & security</a></li>
        <li class="ps-list-item"><a class="ps-link" href="{% url 'customisation' %}"><i class="bi bi-brush ps-icons"> 
        </i>Customisation</a></li>
    <li class="ps-list-item"><a class="ps-link" href="{% url 'other_user_settings' %}"><i
          class="bi bi-person ps-icons"> </i>Other users</a></li>
    <li class="ps-list-item"><a class="ps-link" href=""><i class="bi bi-bell ps-icons"> 
    </i>Notifications</a></li>
    <li class="ps-list-item"><a class="ps-link" href="{% url 'accessibility' %}"><i class="bi bi-brightness-low ps-icons">
        </i>Accessibility</a></li>
    <li class="ps-list-item"><a class="ps-link" href="{% url 'information' %}"><i class="bi bi-info">
        </i>Information</a></li>
</ul>