{% block body %}
{% block content %}
{% endblock %}
{%load static%}
<div class="card bg-dark shadow box-area my-2">
    <nav class="nav flex-column py-2 px-2 mx-2">
        <div class="card-header">
            <h4 class="card-title pt-2"><b>Welcome  <span class="notranslate">{{user.username}}</span></b></h4>
        </div>
        <div class="card-body">
            <div class="container text-center">
                <a href="{% url 'dashboard' %}">
                    <button type="button" class="btn btn-lg btn-outline-light mb-3 w-100" >Home</button>
                </a>
                <a href="{% url 'resources' %}">
                    <button type="button" class="btn btn-lg btn-outline-light mb-3 w-100" >Resources</button>
                </a>
                <a href="{% url 'conversation' 0 %}">
                    <button type="button" class="btn btn-lg btn-outline-light mb-3 w-100" >Messages</button>
                </a>
                <a href="{% url 'peer_select' %}">
                    <button type="button" class="btn btn-lg btn-outline-light mb-3 w-100" >Find Friends</button>
                </a>
                <!-- Show all the posts created by the user  -->
                <a href="{% url 'create_post' %}">
                    <button type="button" class ="btn btn-lg btn-outline-light mb-3 w-100">Posts</button> 
                </a>
                <a href="{% url 'friends_list' %}">
                    <button type="button" class="btn btn-lg btn-outline-light mb-3 w-100" >Friends list</button>
                </a>
            </div>
        </div>
    </nav>
  </div>

  {% endblock %}