{% load static %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'inbox' %}" id="inbox" role="button" data-bs-toggle="tooltip" title="Inbox">
        <span class="bi bi-inbox-fill"></span>
        {% if has_unviewed_notifications %}
        <span class="bi bi-circle-fill"
          style="color:rgb(77, 129, 241); font-size: 7px; position: relative; top: -9px; left: -9px;"></span>
        {% endif %}
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <span class="bi-person-circle"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
        <li><a class="dropdown-item" href="{% url 'profile' request.user.username %}">Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
      </ul>
    </li>
    <i id="theme" class="bi bi-sun"></i>
  </ul>
</div>