<div class="col-md-2 nav-item dropdown">
    <a class="nav-link" href="#" id="message-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi-three-dots-vertical"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="message-menu-dropdown">
        <li><form method="post">
            {% csrf_token %}
            <input type="hidden" name="first_message" value="{{ first_message }}">
            <input type="hidden" name="action" value="{{message.id}}">
            <button class= "dropdown-item" type="submit" name="delete" value="me">Delete for me</button>
            {% if user == message.sender %}
            <button class= "dropdown-item delete_all" type="submit" name="delete" value="all">Delete for everyone</button>
        </form></li>
            {% else %}
        </form></li>
        <li>
            <div class="dropdown-item" id="report-link" data-bs-auto-close="false">
                <button type="button" class="dropdown-item mt-2 mb-2" id="report-item" data-bs-toggle="modal" data-bs-target="#report_item_{{message.id}}">Report</button>
            </div>
        </li>
        {%endif%}
        
    </ul>
</div>
