<div class="col-md-2 nav-item dropdown">
    <a class="nav-link" href="#" id="message-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi-three-dots-vertical"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end p-2" aria-labelledby="message-menu-dropdown" >
        <li><a class="dropdown-item" href="{% url 'delete_message' conversation.id message.id %}">Delete for me</a></li>
        {% if message.sender == user %}
        <li><a class="dropdown-item" name="delete_all" value=":3"
                href="{% url 'delete_message' conversation.id message.id %}">Delete for everyone</a></li>
        {% endif %}
        {% if message.sender != user %}
        {% include 'partials/report_dropdown.html' with form=report_form object_id=message.id report_type='report_message' %}
        {%endif%}
    </ul>
</div>