{% load profanity %}
{% load static %}
{% load reporting_tags %}
<div class="post-header d-flex justify-content-between align-items-start">
    <a href="{% url 'profile' post.author.username %}" class="flex-grow-1">
        <h4 class="font-weight-bold">{{ post.author }}</h4>
    </a>

    <div class="col-md-2 nav-item dropdown">
        <a class="nav-link" href="#" id="message-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-three-dots-vertical"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="message-menu-dropdown">
            {% if post.author == request.user %}
            <li><a class="dropdown-item" href="{% url 'delete_post' post_id=post.id %}">Delete</a></li>
            {% else %}
            <li>
                <div class="dropdown-item" id="report-link" data-bs-auto-close="false">
                    Report
                    <ul class="dropdown-menu nested-dropdown">
                        <li>
                            <form method="post">
                            {% csrf_token %}
                            {% include 'partials/bootstrap_form.html' with form=report_form %}
                            <input type="hidden" name="action" value="{{post.id}}">
                            <button class="btn btn-primary" type="submit" name="report_post">Report</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </li>
            {% endif %}
            {% if from_feed %}
            <li><a class="dropdown-item" href="{% url 'post_detail' post_id=post.id %}">View Post</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="card-body">
    <p {% if post|is_object_reported_by_user:user %} data-text="{{ post.content |censor}}"
    id="reported" class="text-muted" {% endif %}>{{ post.content |censor}}</p>
    <p>{{ post.created_at }}</p>
    {% if post.author == request.user %}
        <a href="{% url 'delete_post' post_id=post.id %}" class="btn-danger btn" style = "border-color: #dc3545;">Delete</a>
    {% endif %}
    {% if from_feed %}
        <a href="{% url 'post_detail' post_id=post.id %}" class="btn btn-info" style = "border-color: #0dcaf0;">View Post</a>
    {% endif %}
</div>
<script src="{% static 'js/reporting.js' %}"></script>