{% load profanity %}
{% csrf_token %}
<div class="post-header">
    <a href="{% url 'profile' post.author.username %}">
        <h4 class="font-weight-bold">{{ post.author }}</h3>
    </a>
</div>
<div class="card-body">
    <p>{{ post.text |censor}}</p>
    <p>{{ post.created_at }}</p>
    {% if post.author == request.user %}
        <a href="{% url 'delete_post' post_id=post.id %}" class="btn-danger btn" style = "border-color: #dc3545;">Delete</a>
    {% endif %}
    {% if from_feed %}
        <a href="{% url 'post_detail' post_id=post.id %}" class="btn btn-info" style = "border-color: #0dcaf0;">View Post</a>
    {% endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<a href="#" class="bi bi-hand-thumbs-up like-post" data-post-id="{{ post.id }}"></a>

<script>
$(document).ready(function() {
    $('.like-post:not(.initialized)').each(function() {
        var $this = $(this);
        var postId = $this.data('post-id');

        $this.addClass('initialized'); // Mark the button as initialized

        $this.click(function(e) {
            e.preventDefault();

            $.ajax({
                url: "{% url 'like_post' post_id=0 %}".replace('0', postId),
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function(data) {
                    if (data.liked) {
                        $this.removeClass('bi-hand-thumbs-up').addClass('bi-hand-thumbs-up-fill');
                    } else {
                        $this.removeClass('bi-hand-thumbs-up-fill').addClass('bi-hand-thumbs-up');
                    }
                }
            });
        });
    });
});
</script>
