{% load profanity %}
{% load static %}
{% load reporting_tags %}
<li>
    <div class="card-body post-card">
        <div class="row">
            <div class="col-md-10">
                <div class="d-flex align-items-center pb-2">
                    <a href="{% url 'profile' comment.author.username %}">
                        <img src="{% static comment.author.userprofile.profile_picture %}" alt="Profile Picture" class="rounded-circle friend-profile-picture mr-3" style="width: 70px; height: 70px;">
                    </a>
                    <a href="{% url 'profile' comment.author.username %}">
                        <p style="margin: 0;">{{ comment.author }}</p>
                    </a>
                </div>
                
                <p {% if comment.author in user.blocked_users.all %} data-text="{{ comment.content | censor}}" 
                data-blocked="true" class="text-muted"
                {% elif comment|is_object_reported_by_user:user %} data-text="{{ comment.content |censor}}"
                 data-reported="true" class="text-muted" {% endif %}
                 >{{ comment.content |censor}}</p>
            </div>
            <div class="col-md-2 nav-item dropdown">
                <a class="nav-link" href="#" id="message-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi-three-dots-vertical"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="message-menu-dropdown">
                    {% if comment.author == user %}
                    <li><a class="dropdown-item" href="{% url 'delete_comment' comment.id %}">Delete</a></li>
                    {% else %}
                    <button type="button" class="dropdown-item" id="report-item" data-bs-toggle="modal" data-bs-target="#report_comment_{{comment.id}}">Report</button>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- Reply form for each comment -->
        <form method="post" action="{% url 'post' post_id=post.id %}">
            {% csrf_token %}
            <input type="hidden" name="parent_id" value="{{ comment.id }}">
            {{ comment_form.as_p }}
            <button class="btn btn-primary" type="submit">Reply</button>
        </form>

        <!-- Display replies to the comment -->
        <blockquote class="post-comment-container">
            <ul>
                {% for reply in comment.get_replies %}
                    <li>
                        {% include 'partials/reply.html' with comment=reply %}
                        {% include 'partials/report_modal.html' with object_id=reply.id report_type='report_comment' %}
                    </li>
                {% endfor %}
            </ul>
        </blockquote>
    </div>
</li>
<script src="{% static 'js/reporting.js' %}"></script>
<script src="{% static 'js/blocking.js' %}"></script>