<li>
    <div class="dropdown-item" id="report-link" data-bs-auto-close="false">
        &lt; Report
        <ul class="dropdown-menu nested-dropdown">
            <li>
                <form method="post">
                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' with form=report_form %}
                <input type="hidden" name="action" value="{{ object_id }}">
                <button class="btn btn-primary" type="submit" name="{{ report_type }}">Report</button>
                </form>
            </li>
        </ul>
    </div>
</li>
