{% load static %}
{% load profanity %}
{% load reporting_tags %}
<blockquote id="{{response.id}}">
  <div class="response-container d-flex justify-content-between align-items-start">
    {% if response.user in current_user.blocked_users.all %} 
    <p data-text="{{response.body|censor}}" data-blocked="true" class="response-body text-muted" >
    {% elif response|is_object_reported_by_user:user %}
    <p data-text="{{ response.body|censor }}" data-reported="true" class="text-muted response-body">
    {% else %} 
    <p class="response-body"> 
    {% endif %}
    {{response.body |censor}}</p>
    <div class="dropdown">
      <a href="#" class="delete-icon" id="actionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="bi bi-three-dots-vertical"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="actionsDropdown">
          {% if response.user == current_user %}
          <li>
            <button type="submit" class="dropdown-item" onclick="confirmDeleteResponse({{ response.id }})">
                Delete
            </button>
          </li>
          {% else %}
          <button type="button" class="dropdown-item" id="report-item" data-bs-toggle="modal" data-bs-target="#report_response_{{response.id}}">Report</button>
          {% endif %}
      </ul>
    </div>
  </div>

  <small class="response-author">by <a href="{% url 'profile' response.user.username %}" class="username">{{response.user.username}}</a></small>
  {% if response.get_depth < max_depth %}
  <button class="reply-button" onclick="handleReplyButton({{response.id}})">Reply</button>
  <blockquote id="reply-form-container-{{response.id}}" class="reply-form-container">
    <form method="POST" class="reply-form">
      {% csrf_token %}
      <input type="hidden" name="question" value="{{question.id}}"/>
      <input type="hidden" name="parent" value="{{response.id}}"/>
      {{reply_form.body}}
      <button type="button" class="reply-form-cancel-button" onclick="handleCancelReply({{response.id}})">Cancel</button>
      <input type="submit" class="btn btn-primary" name="reply" value="Reply"/>
    </form>
  </blockquote>
{% else %}
  <div class="max-depth-reached">
    <span class="text-muted">Maximum reply depth reached. You cannot reply to this message.</span>
  </div>
{% endif %}

  
  {% for children in response.get_responses %}
  {% include 'partials/response.html' with response=children %}
  {% include 'partials/report_modal.html' with object_id=response.id report_type='report_response' %}
  {% endfor %}
</blockquote>