<div class="row">
    <form method="get" class="px-4 py-3" novalidate>
        {% include 'partials/bootstrap_form.html' with form=form_search %}
        <div class="SortFilter">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown">
                Filter Options
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown-style">
                {{form_filter.as_p}}
            </div>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown">
                Sort Options
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown-style">
                {% include 'partials/bootstrap_form.html' with form=form_sort %}
            </div>
        </div>
        <div>
            <button type="submit" class="btn apply-btn btn-sm my-3" style="margin-bottom: 0;">Apply</button>
        </div>
    </form>
</div>