{% load static %}
<div class="col-md-6 my-2">
    {% if friend.user_type == 'MENTOR' %}
        <div class="mentor-friend-inner-card">
    {% else %}
        <div class="friend-inner-card">
    {% endif %}
        <div class="friend-card-body">
            <div class="media align-items-center">
                <img src="{% static user.userprofile.profile_picture %}" alt="Profile Picture" class="rounded-circle friend-profile-picture">
                <div class="media-body overflow-hidden">
                    <h5 class="card-text mb-0"> <span class="notranslate">{{ user.username }}</span></h5>
                    <p class="card-text text-uppercase subtext mb-0"> <span class="notranslate">{{ user.full_name}}</span></p>
                    <p class="card-text subtext">{{ user.country_name }}</p>
                </div>
            </div><a href="{% url 'profile' username=user.username %}" class="tile-link"></a>
            {% if parent_template == 'find_friends' %}
                <div class=" add-friend text-center mt-4">
                    <a class="btn btn-sm add-friend-btn" data-user-id="{{ user.id }}">Add friend</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>