{% extends 'settings.html' %}
{% load static %}
{% block title %}
    <div class="ps-title-text">Customisation</div>
{% endblock %}

{% block page %}
<meta name="csrf-token" content="{{ csrf_token }}">
<div class="picture-grid pt-2 pb-2 ps-scrollable">
    {% for picture in profile_pictures %}
    <div class="picture-container">
        <img src="{% static 'profile_pictures/'|add:picture %}" alt="Profile Picture">
    </div>
    {% endfor %}
</div>
<button class="btn btn-primary mt-3" id="update-button" data-url="{% url 'update_profile_picture' %}">Update</button>
<script src="{% static 'js/customisation.js' %}"></script>
{% endblock %}
