{% extends 'settings.html' %}
{% load static %}
{% block title %}
    <div class="ps-title-text">Customisation</div>
{% endblock %}

{% block page %}
<div class="picture-grid pt-3 pb-3">
    {% for picture in profile_pictures %}
    <div class="picture-container">
        <img src="{% static 'profile_pictures/'|add:picture %}" alt="Profile Picture">
    </div>
    {% endfor %}
</div>
<button id="update-button" class="btn btn-primary">Update</button>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var pictures = document.querySelectorAll('.picture-container img');
    var selectedPicturePath = '';

    // Add white border to selected picture
    pictures.forEach(function(picture) {
        picture.addEventListener('click', function() {
            pictures.forEach(function(pic) {
                pic.parentElement.classList.remove('picture-selected');
            });

            this.parentElement.classList.add('picture-selected');
            selectedPicturePath = this.src.substring(this.src.lastIndexOf('/', this.src.lastIndexOf('/') - 1) + 1);
        });
    });

    // Update profile picture
    document.getElementById('update-button').addEventListener('click', function() {
        fetch('{% url "update_profile_picture" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token }}' 
            },
            body: JSON.stringify({'profile_picture': selectedPicturePath })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('Profile picture updated successfully!');
            } else {
                alert('Select a profile picture to update.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while updating profile picture.');
        });
    });
});

</script>
{% endblock %}
