 {% extends 'base_content.html' %}
{% load static %}
  {% block content %}
  
    <div class="container px-0">
      <div class="row">
        <!-- left row -->
        <div class="col-md-3 mt-2">
          {%include "partials/left_navbar.html" %}
        </div>
        <!-- right row -->
        <div class="col-md-9 mt-2">
          <div>
            {% block page %}
            {% endblock %}
          </div>
        </div>
      </div>
    <!-- Modal -->
    {% if first %}
      {% include "tutorial.html" %}
        <script>
          var myModal = new bootstrap.Modal(document.getElementById('tutorialModal'), {})
          myModal.show()
          </script>
    {% endif %}
    </div>
  {% endblock %}