 {% extends 'base_content.html' %}
{% load static %}
  {% block content %}
    <div class="container pl-0">
      <div class="row">
        <div class="col-md-3 mt-2">
          {%include "partials/left_navbar.html" %}
        </div>
        <div class="col-md-9 mt-2">
          <div>
            {% block page %}
            {% endblock %}
          </div>
        </div>
      </div>
    {% if first %} <!--TO REMOVE-->
      {% include "tutorial.html" %}
        <script>
          var myModal = new bootstrap.Modal(document.getElementById('tutorialModal'), {})
          myModal.show()
        </script>
    {% endif %}
    </div>
  {% endblock %}