{% extends 'dashboard.html' %}
{% block page %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<div class="card bg-dark shadow box-area my-2">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="reportContent" data-toggle="tab" href="{% url 'moderation' %}" role="tab">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="timeline-tab" data-toggle="tab" href="{% url 'demographic-information' %}"
                role="tab">User information</a>
        </li>
    </ul>
    <div class="container my-2">
        <select id="barChartDataSelect">
            {%include "partials/demographic_options.html" %}
        </select>
        <canvas id="barChart"></canvas>
        <select id="pieChartDataSelect">
            {%include "partials/demographic_options.html" %}
        </select>
        <canvas id="ethnicityChart" style="margin-top: 20px;"></canvas>
    
    </div>
</div>
<script>
    var num_patients={{num_patients}};
    var num_parents={{num_parents}};
    var num_mentors={{num_mentors}};
    var age_range_labels={{age_range_labels|safe}};
    var age_range_counts={{age_range_counts|safe}};
    var ethnicities={{ethnicities|safe}};
    var ethnicity_count={{ethnicity_count|safe}};
    var patient_condition_labels={{patient_condition_labels|safe}};
    var patient_condition_count={{patient_condition_count|safe}};
    var parent_child_condition_labels={{parent_child_condition_labels|safe}};
    var parent_child_condition_count={{parent_child_condition_count|safe}};
    var gender_labels={{gender_labels|safe}};
    var gender_count={{gender_count|safe}};
    var location_labels={{location_labels|safe}};
    var location_count={{location_count|safe}};
    var mentor_condition_labels = {{mentor_condition_labels|safe}};
    var mentor_condition_count = {{mentor_condition_count|safe}};

</script>
<script src="{% static 'js/demographic_info.js' %}"></script>

{% endblock %}