{% extends 'dashboard.html' %}
{% load static %}
{% block page %}

<title>Feed</title>

<div class="card bg-dark shadow box-area my-2"> 
  <div class="row">
    <div class="col-md-8">
      <h1 class="card-header">Welcome to feed</h1>
    </div>
    <!-- Button to switch between global feed and friends-only feed -->
    <div class="col-md-4">
      <form id="feedForm" method="GET" action="{% url 'feed' %}">
        {% csrf_token %}
        <input type="hidden" name="feed_type" id="feedType" value="{{feed_type}}">
        <button type="button" id="toggleFeedButton" class="btn btn-outline-primary">
          <div class="row">
            <div class="col-md-6 {% if feed_type == 'global' %}selected-feed{% endif %}">Global</div>
            <div class="col-md-6 {% if feed_type == 'friends' %}selected-feed{% endif %}">Friends</div>
          </div>
        </button>
      </form>
    </div>
  
  </div>
  <form method="post" class="px-4 py-3" novalidate>
    {% csrf_token %}
    {% include 'partials/bootstrap_form.html' with form=form %}
    <button type="submit">Add</button>
  </form>
  <!-- scrollable -->
  <div class="card-body scrollable-container"> 
    <!-- display feed -->
    <div class="scrollable-feed"> 
    {% for post in posts %}
    <!-- <div class="post post-card">
      <p>{{ post.text }}</p>
      <a href="{% url 'post_detail' post_id=post.id %}" class="btn btn-info">View Post</a>
      {% if post.author == request.user %}
        <a href="{% url 'delete_post' post_id=post.id %}">Delete</a>
      {% endif %}
    </div> -->
    {% include 'partials/post_details.html' with post=post from_feed=True %}
    {% empty %}
    <p>No posts available.</p>
    {% endfor %}
    </div>
  </div>
</div>
   
{% endblock %}
