{% extends 'dashboard.html' %}
{% block page %}
<div class="container">
    <h2>Find friends</h2>
    <hr>
    <div class="row">
        {% include 'partials/search_filter_sort_users.html' %}
    </div>
    {% include 'partials/pagination_bar.html' with type=users extra_query=extra_query %}
    <div style="overflow-y:auto;">
        <hr style="margin-top: 0;">
        <div class="container my-2">
            <div class="row">
                {% for friend in users.object_list %}
                    {% include "partials/user_card.html" with parent_template="find_friends" user=friend.user %}
                {% empty %}
                    <p>No users</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    var sendFriendRequestUrl = "{% url 'send_friend_request' 0 %}";
</script>
{% endblock %}