{% extends 'dashboard.html' %}
{% block page %}
{% load static %}
<div class="container">
    <h2>Find friends</h2>
    <hr>
    <div class="row">
        {% include 'partials/search_filter_sort_users.html' %}
    </div>
    <div style="overflow-y:auto;">
        <hr style="margin-top: 0;">
        {% if users|length == 0 %}
        <p>No users</p>
        {% else %}
        <div class="container my-2">
            <div class="row">
                {% for friend in users %}
                    {% include "partials/user_card.html" with parent_template="find_friends" user=friend.user %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script>
    var sendFriendRequestUrl = "{% url 'send_friend_request' 0 %}";
</script>
<script src="{% static 'js/find_friends.js' %}"></script>
{% endblock %}