{% extends 'base_content.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        {% for friend in friends %}
        <div class="col-md-6 col-xl-4 my-4">
            <div class="card">
                <div class="friend-card-body">
                    <div class="media align-items-center"><span
                            style="background-image: url(https://i.pinimg.com/originals/57/61/5b/57615b8c0092a66c1d4058b1692955cc.gif)"
                            class="avatar mr-3"></span>
                        <div class="media-body overflow-hidden">
                            <h5 class="card-text mb-0">{{ friend.username }}</h5>
                            <p class="card-text text-uppercase subtext mb-0">{{ friend.full_name }}</p>
                            <p class="card-text subtext">{{ friend.country_name }}</p>
                        </div>
                    </div><a href="{% url 'other_user_profile' username=friend.username %}" class="tile-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}