{% extends 'base_content.html' %}
{% block content %}
{% load static %}
<div class="container">
    <h3 class="m-b-50 heading-line pt-3">Notifications <i class="fa fa-bell text-muted"></i></h3>
    {% for notification in notifications %}
        <div class="notification-list d-flex justify-content-between">
            <div class="notification-list_content">
                <div class="notification-list_detail">
                    <p><b>{{ notification.title }}</b></p>
                    <p class="subtext">{{ notification.description }}</p>
                    <p class="subtext"><small>{{ notification.created }}</small></p>
                </div>
            </div>
            <div class="d-flex align-items-center">
                {% if notification.title == 'Friend Request' %}
                    <button class="btn btn-success accept-request"><i class="bi bi-check"></i></button>
                    &nbsp;
                {% endif %}
                <button class="btn btn-danger decline-request"><i class="bi bi-x"></i></button>
            </div>
        </div>
    {% endfor %}
{% endblock %}