{% extends 'base_content.html' %}
{% block content %}
{% load static %}
<div class="container">
    <h3 class="m-b-50 heading-line pt-3">Notifications</h3>
    
    {% include "partials/filter_notification.html" %}

    <form action="{% url 'clear_notifications' %}" method="post" onsubmit="return confirm('Are you sure you want to clear all?')">
        {% csrf_token %}
        <button class="m-b-50 btn btn-danger btn-sm">Clear all</button>
    </form> 
    {% for notification in notifications|dictsortreversed:"created" %}
        {% include "partials/notification.html" %}
    {% endfor %}
{% endblock %}