<p>LiverLink is a peer support network aiming to connect pediatric liver patients.</p>
<button type="button" class="btn btn-lg btn-dark btn-outline-light mb-3 w-100" >Home</button>
<p>The home button takes you to your feed, here you can see your feed with the latest posts by friends and the public.</p>
<button type="button" class="btn btn-lg btn-dark btn-outline-light mb-3 w-100" >Resources</button>
<p>Resources allows you to ask questions to our experts and reply to questions you know the answer to! We also have links to trusted websites if you would like to learn more about a specific condition.</p>
<button type="button" class="btn btn-lg btn-dark btn-outline-light mb-3 w-100" >Messages</button>
<p>With messages you can communicate directly with your friends or in group chats.</p>
<button type="button" class="btn btn-lg btn-dark btn-outline-light mb-3 w-100" >Find Friends</button>
<p>To find friends, we look at your individual characteristics and aim to match you with someone who has had similar experiences to you!</p>
<button type="button" class="btn btn-lg btn-dark btn-outline-light mb-3 w-100" >Friends list</button>
<p>If you want to view all of your friends, you can click on the friends list.</p>
<div style="padding: 5px"></div>
<div class="divider"></div>
<div style="padding: 5px"></div>
<h5>Mentors</h5>
<p>Our mentors are people specifically referred by other mentors. We cannot claim the authenticity of these as we operate on a trusted referral system. If you are a mentor you can access your referral code in your profile which you can pass to trusted people to allow them to sign up as mentors.</p>
<div style="padding: 5px"></div>
<div class="divider"></div>
<div style="padding: 5px"></div>
<h5>Translation</h5>
<p>We offer real-time translation as part of our website. Please note that this is powered by google translate and we cannot be responsible for the accuracy of the translation, nor content moderation in all languages.</p>
<div style="padding: 5px"></div>
<div class="divider"></div>
<div style="padding: 5px"></div>
<h5>Our code of conduct</h5>
<p>Treat all members with kindness, empathy, and respect.</p>
<p>Offer support and encouragement to fellow members in their journey with liver disease.</p>
<p>Respect the privacy of all members. Do not share personal information shared within the group outside of the platform.</p>
<p>Avoid inflammatory language, offensive remarks, or any form of bullying or harassment.</p>
<p>Refrain from sharing misleading or false information, particularly regarding medical treatments or procedures.</p>
<p>Be mindful of the potential impact of your words on others, especially considering the sensitive nature of health-related discussions.</p>
<p>Avoid escalating conflicts or engaging in personal attacks. Focus on finding common ground and understanding.</p>