{% extends 'base_content.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div id="loginBox" class="row p-3 text-white shadow box-area custom-rounded">
    {% include 'partials/cover_image.html' %}
    <div class="col-md-7">
      <div class="row align-items-center">
        <h1>Welcome Back!</h1>
        <form action="{% url 'log_in' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {% include 'partials/bootstrap_form.html' with form=form %}
          <p>Don't have an account? <a href='{% url 'sign_up' %}'>
            Sign up here
          </a> </p>
          <input type="submit" value="Log in" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
