{% extends 'dashboard.html' %}
{% block page %}
{% load static %}
<div class="card shadow box-area my-2">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="reportContent" data-toggle="tab" href="{% url 'moderation' %}" role="tab">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="reportContent" data-toggle="tab" href="{% url 'feedback' %}" role="tab">Feedback</a>
        </li>
    </ul>
        <h1>Reports</h1>
        {% for report in reports %}
            {% include 'partials/report.html' %}
        {% empty %}
            <p>No reports found.</p>
        {% endfor %}
</div>
{% endblock %}