{% extends 'settings.html' %}
{% block title %}
    <div class="ps-title-text">Other user settings</div>
{% endblock %}

{% block page %}
    <div class="ps-subheading-text">Blocked users</div>
    <button type="button" class="btn btn-light" id="display-blocklist" data-bs-toggle="modal" data-bs-target="#display_blocklist">View blocked users</button>
    <div style="padding: 10px"></div>
    <div class="divider"></div>
    <div style="padding: 5px"></div>
    {% include 'partials/profile-settings/display_blocklist_modal.html' %}
{% endblock %}