{% extends 'profile.html' %}
{% block title %} 
    <div class="ps-title-text">Password & security</div>
{% endblock %}

{% block page %}
    <div class="ps-subheading-text">Change your password</div>
    <form action="{% url 'password' %}" method="post">
      {% csrf_token %}
      {% include 'partials/bootstrap_form.html' with form=form %}
      <input type="submit" value="Change password" class="btn btn-primary">
    </form>
    <div style="padding: 10px"></div>
    <div class="divider"></div>
    <div style="padding: 5px"></div>
    <div class="ps-subheading-text">Visibility</div>


{% endblock %}