{% extends 'settings.html' %}
{% block title %} 
    <div class="ps-title-text">Password & security</div>
{% endblock %}
{% block page %}
    <div class="ps-subheading-text">Change your password</div>
    <form action="{% url 'password' %}" method="post">
      {% csrf_token %}
      {% include 'partials/bootstrap_form.html' with form=form %}
      <input type="submit" value="Change password" class="btn btn-primary">
    </form>
    <div class="divider-xl"></div>
    <div class="ps-subheading-text">Blocked users</div>
    <button type="button" class="btn btn-light" id="display-blocklist" data-bs-toggle="modal" data-bs-target="#display_blocklist">View blocked users</button>
    {% include 'partials/profile-settings/display_blocklist_modal.html' %}
{% endblock %}