{% extends 'dashboard.html' %}
{% block page %}
{% load static %}
<div class="container">
    <div id="friend-card" class="shadow box-area my-2">
        <h2>Add friend</h2>
        <hr>
        <div class="row">
            <form method="get" class="px-4 py-3" novalidate>
                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' with form=formSearch %}
                <div class="SortFilter">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown">
                        Filter Options
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% csrf_token %}
                        {{formFilter.as_p}}
                    </div>
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown">
                        Sort Options
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=formSort %}
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-secondary btn-sm my-3" style="margin-bottom: 0;">Apply</button>
                </div>
            </form>
        </div>

        <div style="overflow-y:auto;">
            <hr style="margin-top: 0;">
            {% if users|length == 0 %}
            <p>No users</p>
            {% else %}
            <div class="container my-2">
                <div class="row">
                    {% for user in users %}
                    <div class="col-md-6 my-2">
                        <div id="friend-inner-card"class="card">
                            <div class="friend-card-body">
                                <div class="media align-items-center"><span
                                        style="background-image: url(https://media1.tenor.com/m/jntELgCIwQYAAAAC/kermit-lipton.gif)"
                                        class="avatar mr-3"></span>
                                    <div class="media-body overflow-hidden">
                                        <h5 class="card-text mb-0 notranslate">{{ user.username }}</h5>
                                        <p class="card-text text-uppercase subtext mb-0">{{ user.full_name }}</p>
                                        <p class="card-text subtext">{{ user.country_name }}</p>
                                    </div>
                                </div><a href="{% url 'profile' username=user.username %}" class="tile-link"></a>
                                <div class=" add-friend text-center mt-4">
                                    <a class="btn btn-sm add-friend-btn" data-user-id="{{ user.id }}">Add
                                        friend</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var sendFriendRequestUrl = "{% url 'send_friend_request' 0 %}";
</script>
<script src="{% static 'js/peer_select.js' %}"></script>
{% endblock %}