{% extends 'base_layout.html' %}
{% block page %}
{% load user_tags %} 
<div class="container">
    <h2>Add friend</h2>
    <hr>

    <div class="row">
        <form method="get" class="px-4 py-3" novalidate>
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=formSearch %}
            <div class="SortFilter">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                    Filter Options
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% csrf_token %}
                    {% for field in formFilter %}
                        {% if field.name in "age_of_diagnosis_min,age_of_diagnosis_max,condition,child_age_of_diagnosis_min,child_age_of_diagnosis_max,child_condition" %}
                            <div class="id_{{ field.name }}_wrapper">
                                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                {{ field }}
                            </div>
                        {% else %}
                            <div class="{{ field.name }}_wrapper">
                                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                    Sort Options
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% csrf_token %}
                    {% include 'partials/bootstrap_form.html' with form=formSort %}
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-secondary btn-sm my-3" style="margin-bottom: 0;" >Apply</button>   
            </div>
        </form>
    </div>

    <div style="overflow-y:auto;">
    <hr style="margin-top: 0;">

    {% if users|length == 0 %}
        <p>No users</p>
    {% else %}
        {% for user in users %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ user.username }}
            {% if user|is_patient %}
                This user is a patient.
            {% else %}
                This user is not a patient.
            {% endif %}
            {{user.date_of_birth}}
            <a href="" class="btn btn-secondary btn-sm ms-auto">Add friend</a>
        </li>                
        {% endfor %}
    {% endif %}
    </div>


{% endblock %}

{% block javascript %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const userTypeCheckboxes = document.querySelectorAll('input[name="user_type"]');
    const patientFields = ['id_age_of_diagnosis_min', 'id_age_of_diagnosis_max', 'id_condition'];
    const parentFields = ['id_child_age_of_diagnosis_min', 'id_child_age_of_diagnosis_max', 'id_child_condition'];

    function toggleFields() {
        let userTypes = [];
        userTypeCheckboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                userTypes.push(checkbox.value);
            }
        });

        function displayFields(fieldIds, display) {
            fieldIds.forEach(function(fieldId) {
                const fieldWrapper = document.querySelector('.' + fieldId + '_wrapper');
                if (fieldWrapper) {
                    fieldWrapper.style.display = display ? '' : 'none';
                }
            });
        }
        if (userTypes.includes('patient')) {
            displayFields(patientFields, true);
        } else {
            displayFields(patientFields, false);
        }
        if (userTypes.includes('parent')) {
            displayFields(parentFields, true);
        } else {
            displayFields(parentFields, false);
        }
        if (userTypes.length === 0) {
            displayFields(patientFields.concat(parentFields), false);
        }
    }
    userTypeCheckboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', toggleFields);
    });
    toggleFields();
});
</script>
{% endblock %}