{% extends 'settings.html' %}
{% block title %}
    <div class="ps-title-text">Personal information</div>
{% endblock %}


{% block page %}
    <form action="{% url 'settings' %}" method="post">
    {% csrf_token %}
    <div class="ps-scrollable">
        {% include 'partials/bootstrap_form.html' with form=form %}
    </div>
    <span><input type="submit" value="Update" class="btn btn-primary"> <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deactivate_user">Deactivate account</button></span>
    </form>
    {% include 'partials/profile-settings/deactivate_user_modal.html' %}
{% endblock %}
