{% extends 'base_content.html' %}
{% block content %}
{% load static %}
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                {% if user_type == 'MENTOR' %}
                    <div class="mentor-profile-img">
                {% elif user_type == 'PROFESSIONAL' %}
                    <div class="professional-profile-img">
                {% else %}
                    <div class="profile-img">
                {% endif %}
                    <img src="{% static user.userprofile.profile_picture %}" alt="User Profile Picture" /></div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>{{ user.full_name }}</h5>
                    <h6>{{ user.username }}</h6>
                    <h7>{{ user_type }}</h7>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="about-tab" data-bs-toggle="tab" href="#about" role="tab">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="timeline-tab" data-bs-toggle="tab" href="#timeline" role="tab">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                {% if current_user == user %}
                <div id="profile-settings" class="profile-icon">
                    <a class="actions-icon" href="{% url 'settings' %}" role="button" aria-label="profile-settings">
                        <span class="bi bi-gear-fill"></span>
                    </a>
                </div>
                {% else %}
                {% include 'partials/profile/user_actions_dropdown.html' %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% if not current_user in blocklist and not user in blocklist %}
                <div class="profile-subheading pt-5 pl-3">
                    <label>Bio</label>
                    <p>{{ user.bio }}</p>
                </div>
                {% endif %}
            </div>
            <div class="col-md-7">
                {% if not user.is_active %}
                <div class="profile-subheading" id="current-user-is-inactive">This user is inactive.</div>
                {% elif current_user in blocklist %}
                <div class="profile-subheading" id="current-user-is-blocked">You cannot view this user's profile.</div>
                {% elif user in blocklist %}
                <div class="profile-subheading" id="user-is-blocked">You have blocked this user.</div>
                {% else %}
                <div id="profile-content">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                            {% include 'partials/profile/user_information.html' %}
                        </div>
                        <div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                            {% for post in posts %}
                            {% include 'partials/post_details.html' with from_feed=True post=post %}
                            {% empty %}
                            This user has no posts yet
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>

<script>
    var unblockUserUrl = "{% url 'unblock_user' 0 %}";
    var blockUserUrl = "{% url 'block_user' 0 %}";
    var friendRequestUserUrl = "{% url 'send_friend_request' 0 %}"
    var removeFriendUrl = "{% url 'remove_friend' 0 %}"
</script>
<script src="{% static 'js/profile.js' %}"></script>

{% endblock %}