{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Edit profile</h1>
      <!-- gravatar = <img src="{{ user.mini_gravatar }}" style="max-height:20px; max-width:20px">   </img>-->
      <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <span><input type="submit" value="Update" class="btn btn-primary"> <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deactivate_user">Deactivate account</button></span>
      </form>
      {% include 'partials/customise-profile/deactivate_user.html' %}
    </div>
  </div>
  <row> <!-- footer -->
    <div style="padding: 40px;"></div>
  </row>
</div>
{% endblock %}