{% extends 'dashboard.html' %}
{% load static %}
{% block page %}
<div class="card shadow box-area my-2">
    {% include 'partials/resources-navbar.html' %}
        <div class="page question-page">
            <div class="question-header">
                <div class ="header-align">
                <h2 class="question-title">{{ question.title }}</h2>
                <div class="dropdown">
                    <a href="#" class="delete-icon" id="actionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="bi bi-three-dots-vertical"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="actionsDropdown">
                        <li>
                            <form method="post" action="{% url 'delete_question' id=question.id %}">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item" onclick="return confirm('Are you sure you want to delete this question?');">
                                    Delete Question
                                </button>
                            </form>
                        </li>
                        </ul>
                        </div>
                    </div>
        <p {% if question.author in current_user.blocked_users.all %} data-text="{{question.body}}"
            id="blocked-question" class="question-body text-muted" {% endif %} class="question-body">{{ question.body }}
        </p>
        <span class="question-author">author : <a href="{% url 'profile' question.author.username %}"
                class="username">{{ question.author.username }}</a></span>

        <div class="responses-container">
            <h4 class="responses-container-heading">Responses</h4>
            {% if not question.responses.all %}
                <p class="no-responses-text">No responses yet</p>
            {% else %}
                {% for response in question.get_responses %}
                    {% include 'partials/response.html' with response=response %}
                {% endfor %}
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        <form method="POST" action="" class="response-form">
            {% csrf_token %}
            <div class="fieldWrapper">
                <label for="{{ response_form.body.id_for_label }}">Your answer:</label>
                {{ response_form.body }}
            </div>
            <input type="submit" value="Send" class="submit-button" />
        </form>
        {% endif %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/question_page.js' %}"></script>
    {% endblock %}