{% extends 'dashboard.html' %}
{% load static %}
{% block page %}
  <div class="main">
    <div id="resources-card" class="card shadow box-area my-2">
  {% include 'partials/resources-navbar.html' %}
    <div class="page">
      <!-- Questions Section -->
      <div class="section">
        <h1 class="title">All questions</h1>
        <div class="scrollable-container">
          {% for question in questions %}
          <div class="question-list-item">
            <a href="{% url 'question' question.id %}">
              <p class="question-list-item-title">{{question.title}}</p>
              <p class="question-list-item-author">
                by {{question.author.username}}
              </p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <hr>
      <!-- Types of Liver Disease Section -->
      <div class="section">
        <div class="types-of-liver-disease">
          <h2>Types of Liver Disease</h2>
          <p>
            There are several types of liver disease, which can have different
            causes.
          </p>
          <table>
            <tr>
              <th>Condition</th>
              <th>Possible causes</th>
            </tr>
            <tr>
              <td><a href="https://britishlivertrust.org.uk/information-and-support/liver-conditions/alcohol-related-liver-disease/">Alcohol-related liver disease</a></td>
              <td>Regularly drinking too much alcohol</td>
            </tr>
            <tr>
              <td><a href="https://britishlivertrust.org.uk/information-and-support/liver-conditions/non-alcohol-related-fatty-liver-disease/">Non-alcoholic fatty liver disease</td>
              <td>
                Being very overweight (obese) – this may cause fat to build up in
                the liver
              </td>
            </tr>
            <tr>
              <td><a href="https://www.cdc.gov/hepatitis/abc/index.htm">Hepatitis</a></td>
              <td>
                Catching a viral infection or regularly drinking too much alcohol
              </td>
            </tr>
            <tr>
              <td><a href="https://www.mayoclinic.org/diseases-conditions/hemochromatosis/symptoms-causes/syc-20351443"></href>Haemochromatosis</a></td>
              <td>
                A gene that runs in families and may be passed from parents to
                children
              </td>
            </tr>
            <tr>
              <td><a href="https://www.niddk.nih.gov/health-information/liver-disease/primary-biliary-cholangitis">Primary biliary cholangitis</a></td>
              <td>May be caused by a problem with the immune system</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}