{% extends 'dashboard.html' %}
{% load static %}
{% load profanity %}
{% block page %}
  <div class="main">
    <div id="resources-card">
  {% include 'partials/resources-navbar.html' %}
  <div class="page">
    <div class="section">
      <h1 class="title">All questions</h1>
      <div class="row justify-content-center">
        <div class="col-md-2 text-center">
          {% if questions.has_previous %}
            <a href="?page={{ questions.previous_page_number }}"> previous </a>
          {% endif %}
        </div>
        <div class="col-md-2 text-center">
          <span class="current-page">{{ questions.number }}</span>
        </div>
        <div class="col-md-2 text-center">
          {% if questions.has_next %}
            <a href="?page={{ questions.next_page_number }}"> next</a>
          {% endif %}
        </div>
      </div>
      <div class="scrollable-container">
        {% for question in questions %}
        <div class="question-list-item d-flex justify-content-between align-items-center">
          <a href="{% url 'question' question.id %}" class="flex-grow-1 me-3">
            <p class="question-list-item-title">{{ question.title | censor }}</p>
            <p class="question-list-item-author">by {{ question.author.username }}</p>
          </a>
          <div class="dropdown">
            <a href="#" class="delete-icon" id="actionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="bi bi-three-dots-vertical"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="actionsDropdown">
                {% if question.author == request.user %}
                <li>
                    <form method="post" action="{% url 'delete_question' id=question.id %}">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item" onclick="return confirm('Are you sure you want to delete this question?');">
                            Delete
                        </button>
                    </form>
                </li>
                {% else %}
                {% include 'partials/report_dropdown.html' with form=report_form object_id=question.id report_type='report_question' %}
                {% endif %}
            </ul>
          </div>
        </div>
        </div>
          {% endfor %}
      </div>
      <hr>
      {% include 'partials/resource_table.html' %}
    </div>
  </div>
</div>
{% endblock %}