{% extends 'base_content.html' %}
{% block content %}
{% load static %}
<div class="container px-0">
  <div class="row mt-2">
      <div class="col-md-3 ps-col">
        <div class="card shadow box-area">
          <h2>Profile settings</h2>
          <img src="{% static user.userprofile.profile_picture %}" class="ps-profile-picture" alt="Your profile picture"> </img>
          <div class="divider"></div>
          {% include 'partials/profile-settings/settings_sidebar.html' %}
        </div>
      </div>
      <div class="col-md-9 ps-col">
        <div class="card shadow box-area">
          {% block title %}{% endblock %}
          <div class="divider-large"></div>
          {% block page %}
          {% endblock %}
        </div>
      </div>
  </div>
  <row>
    <div class="ps-footer"></div>
  </row>
</div>
{% endblock %}