{% extends 'base_content.html' %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Profile settings</h2>
      <div class="col-2 ps-col">
        <div style="padding: 10px"></div>
        <img src="{{ user.gravatar }}" class="ps-gravatar" alt="Your gravatar"> </img>
        <div class="divider"></div>
        {% include 'partials/profile-settings/settings_sidebar.html' %}
      </div>
      <div class="col-8 ps-col">
        {% block title %}{% endblock %}
        <div class="divider-large"></div>
        {% block page %}
        {% endblock %}
      </div>
      <div class="col-2 ps-col"></div>
    </div>
  </div>
  <row>
    <div style="padding: 40px;"></div>
  </row>
</div>
{% endblock %}