{% extends 'base_content.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div id="loginBox" class="row p-3 shadow box-area custom-rounded my-3">
    {% include 'partials/cover_image.html' %}
    <div class="sign-up col-md-7">
      <div class="row align-items-center">
        <h1>Sign up</h1>
          <form action="{% url 'sign_up' %}" method="post">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
            <p>Already have an account? <a href='{% url 'log_in' %}'>
              Log in here
            </a> </p>
            <input type="submit" value="Sign up" class="btn btn-sm">
          </form>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/sign_up.js' %}"></script>
{% endblock %}