{%load static%}
<div class="modal fade bd-example-modal-lg modal-dialog-scrollable" id="tutorialModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Welcome to Pulse.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Pulse is a peer support network aiming to connect pediatric liver patients.</p>
            <button type="button" class="btn btn-lg btn-dark mb-3 w-100" >Home</button>
            <p>The home button takes you to your feed, here you can see your feed with the latest posts by friends and the public.</p>
            <button type="button" class="btn btn-lg btn-dark mb-3 w-100" >Resources</button>
            <p>Resources allows you to ask questions to our experts and reply to questions you know the answer to! We also have links to trusted websites if you would like to learn more about a specific condition.</p>
            <button type="button" class="btn btn-lg btn-dark mb-3 w-100" >Messages</button>
            <p>With messages you can communicate directly with your friends or in group chats.</p>
            <button type="button" class="btn btn-lg btn-dark mb-3 w-100" >Find Friends</button>
            <p>To find friends, we look at your individual characteristics and aim to match you with someone who has had similar experiences to you!</p>
            <button type="button" class="btn btn-lg btn-dark mb-3 w-100" >Friends list</button>
            <p>If you want to view all of your friends, you can click on the friends list.</p>
            <div style="padding: 5px"></div>
            <div class="divider"></div>
            <div style="padding: 5px"></div>
            <h5>Mentors</h5>
            <p>Our mentors are people specifically referred by other mentors. We cannot claim the authenticity of these as we operate on a trusted referral system. If you are a mentor you can access your referral code in your profile which you can pass to trusted people to allow them to sign up as mentors.</p>
            <div style="padding: 5px"></div>
            <div class="divider"></div>
            <div style="padding: 5px"></div>
            <h5>Translation</h5>
            <p>We offer real-time translation as part of our website. Please note that this is powered by google translate and we cannot be responsible for the accuracy of the translation, nor content moderation in all languages.</p>
        </div>
      </div>
    </div>
  </div>