{%load static%}
<div class="modal fade bd-example-modal-lg" id="tutorialModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content card" >
        <div class="modal-header">
          <h5 class="modal-title">Welcome to LiverLink.</h5>
          <button type="button" class="btn-close btn-outline-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% include 'information_text.html' %}
            <div style="padding: 5px"></div>
            <div class="divider"></div>
            <div style="padding: 5px"></div>
            <p>This information is avaible to view again in the information section in settings. Enjoy using LiverLink!</p>
        </div>
      </div>
    </div>
  </div>
</div>