
.img-fluid{
    width: 35px !important;
  }

.light-theme #left-nav{
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  border-radius: 20px; 
  background-color: #ffffff;
  color: black;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}
.light-theme #top-nav {
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
  }
  .light-theme #middle-nav{
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  border-radius: 20px; 
  background-color: #ffffff;
  color: black;
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
}
.light-theme .btn {
    color: #000000;
    border-color: #000000;

}
.light-theme .navbar-dark .navbar-nav .nav-link {
    color: black !important;
}