<option value="user_type">User Types</option>
<option value="user_age">User Ages</option>
<option value="ethnicity">Ethnicity Distribution</option>
<option value="patient_condition">Patient condition</option>
<option value="mentor_condition">Mentor condition</option>
<option value="professional_expertise">Professional expertise</option>
<option value="parent_child_condition">Parents' child condition</option>
<option value="user_gender">User genders</option>
<option value="user_location">User location</option>